#wrapper{
	width: 95%;
	height:95vh;
	border: 1px solid green;
	padding: 3px;
	margin: 15px 5px 15px 30px;
}

#left-all-stocks{
	width: 33%;
	height: 93vh;
	background-color: #e0e0e0;
	float: left;
}

#right-single-stock{
	background-color: #d7e69a;
	height: 95vh;
	border: 2px solid green;
}